        <details><summary>[ {{purchase.oid}} ] {{purchase.opx}}</summary>
            <table class="table">
                <thead>
                <tr>
                    <th>Oid</th>
                    <th>Sell volume</th>
                    <th>Status</th>
                    <th>-</th>
                    <th>Acc.oid</th>
                    <th>Rtyp</th>
                    <th>Desc</th>
                    <th>Value</th>
                    <th>Active</th>
                    <th>-</th>
                    <th>Deny oid</th>
                    <th>Rtyp</th>
                    <th>Desc</th>
                    <th>Value</th>
                    <th>Active</th>
                    <th>Memory</th>
                </tr>
                </thead>
                <tbody>
                {% for critter in purchase.critters %}
                {% for lx in critter.lines %}
                <tr>
                    <td>{{lx.oid}}</td>
                    <td>{{lx.sell_vol}}</td>
                    <td>{{lx.status}}</td>
                    {% if lx.oid %}
                    <td><a href="#dlg-new-accrule" class="newaccrule href-td" data-critid="{{lx.oid}}" data-puid="{{purchase.oid}}">Acc</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{lx.aoid}}</td>
                    <td>{{lx.artyp}}</td>
                    <td>{{lx.adesc}}</td>
                    <td>{{lx.aval}}</td>
                    {% if lx.aact %}
                        {% if lx.aact = 1 %}
                        <td><input data-oid="{{lx.aoid}}" class="acc-active" type="checkbox" checked></td>
                        {% else %}
                        <td><input data-oid="{{lx.aoid}}" class="acc-active" type="checkbox"></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if lx.aoid %}
                    <td><a href="#dlg-new-dnyrule" class="newdenyrule href-td" data-accid="{{lx.aoid}}" data-puid="{{purchase.oid}}">Deny</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>{{lx.doid}}</td>
                    <td>{{lx.drtyp}}</td>
                    <td>{{lx.ddesc}}</td>
                    <td>{{lx.dval}}</td>
                    {% if lx.dact %}
                        {% if lx.dact = 1 %}
                        <td><input data-oid="{{lx.doid}}" class="dny-active" type="checkbox" checked></td>
                        {% else %}
                        <td><input data-oid="{{lx.doid}}" class="dny-active" type="checkbox"></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{lx.mem}}</td>
                </tr>
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
        </details>
